<div fxLayout="row" fxLayoutAlign="space-around center" >
    <mat-card *ngFor="let project of projectList" class="project-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{project.EntityID}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
            Example Description
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Kanban Board</button>
            <button mat-button>Delete</button>
        </mat-card-actions>
    </mat-card>
</div>