<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doingList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">

    <mat-card class="example-card" cdkDrag></mat-card>
    
    <mat-card class="example-card" *ngFor="let item of todo" cdkDrag>
      <mat-card-header>
        <mat-card-title>{{item}}</mat-card-title>
        <mat-card-subtitle>Story</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div class="example-container">
  <h2>Doing</h2>

  <div
    cdkDropList
    #doingList="cdkDropList"
    [cdkDropListData]="doing"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">

    <mat-card class="example-card" cdkDrag></mat-card>

    <mat-card class="example-card" *ngFor="let item of doing" cdkDrag>
      <mat-card-header>
        <mat-card-title>{{item}}</mat-card-title>
        <mat-card-subtitle>Story</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[doingList, todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">

    <mat-card class="example-card" cdkDrag></mat-card>

    <mat-card class="example-card" *ngFor="let item of done" cdkDrag>
      <mat-card-header>
        <mat-card-title>{{item}}</mat-card-title>
        <mat-card-subtitle>Story</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>